<h1>New Request</h1>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="subject">Subject</label>
    <input id="subject" type="text" class="form-control" [(ngModel)]="ticket.subject" name="subject" required #subject="ngModel">
    <div class="alert alert-danger" *ngIf="subject.touched && !subject.valid">Please specify subject.</div>
  </div>
  <div class="form-group">
      <label for="body">Body</label>
      <input id="body" type="text" class="form-control" minlength="10" [(ngModel)]="ticket.body" name="body" required #body="ngModel">
      <div class="alert alert-danger" *ngIf="body.touched && !body.valid">Please specify body.</div>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="ticket.contact.name" name="contactName" required #contactName="ngModel">
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please specify the contact name.</div>
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input id="contactEmail" type="email" class="form-control" [(ngModel)]="ticket.contact.email" name="contactEmail" required #contactEmail="ngModel">
    <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid">Please specify the contact Email.</div>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Send</button>
</form>