<h1>{{ticket.subject}}</h1>
<h6>
    Customer: {{ticket.contact.name}} | Creation Date: {{ticket.creationDate | date: 'dd/MM/yyyy'}}
</h6>
<a [routerLink]='["/tickets"]'>Back to Ticket list</a>
<hr>
<P>
  {{ticket.body}}
</P>
<br>
<h4>Customer Contact</h4>
<ul>
  <li>Name: {{ticket.contact.name}}</li>
  <li>Email: {{ticket.contact.email}}</li>
</ul>
<br>
<h4>Assign To Group</h4>

<select class="browser-default custom-select">
  <option selected>Select Group</option>
  <option *ngFor="let g of groups" [value]="g.id" (click)="setSelectedGroup(g.id)"  [attr.selected]="g.name">{{g.name}}</option>
</select>
<br>
<p>
  <input class="btn btn-danger" type="button" (click)="delete()" value="Delete">
<input class="btn btn-primary" type="button" (click)="assignTicket()"  value="Submit">
</p>



